label{
    font-size: 24px;
    font-style: bold;
}

body{
    background-color: aliceblue;
}

main{
    margin-top: 40px;
}

.quadro{
    background-color: white;
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
